<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Elektronski dnevnik - Registracija</title>
    </h:head>
    <h:body>
        <h:form>
            &#160;&#160;
            <h:commandButton id="odeljenja" value = "Odeljenja">
                <f:ajax render="odeljenjaId"/>
            </h:commandButton>&#160;&#160;
            <h:commandButton id="ucenici" value = "Učenici">
                <f:ajax render="uceniciId"/>
            </h:commandButton>&#160;&#160;
            <h:commandButton id="roditelji" value = "Roditelji">
                <f:ajax render="roditeljiId"/>
            </h:commandButton>
         </h:form>
        <br/>
        
        <h2>Registracija učenika</h2>
        <hr/>
        <h:form>
            <h:commandButton id="register" value="Registracija">
                <f:ajax execute="@form"/>
            </h:commandButton>
            <h:panelGrid id = "registracijaId" columns = "3" cellpadding = "10" cellspacing = "1">
                <h:outputLabel value = "Ime:" />
                <h:inputText id="ime" required="true" p:placeholder="Ime" requiredMessage="Polje je obavezno!" value="#{registerMB.name}" />
                <h:message for="ime" />
                
                <h:outputLabel value = "Prezime:" />
                <h:inputText id="prezime" required="true" p:placeholder="Prezime" requiredMessage="Polje je obavezno!" value="#{registerMB.surname}" />                                                                                                                                
                <h:message for="prezime" />
                
                <h:outputLabel value = "Nalog:" />
                <h:inputText id="nalog" required="true" p:placeholder="Nalog" requiredMessage="Polje je obavezno!" value="#{registerMB.username}" />
                <h:message for="nalog" />
                
                <h:outputLabel value = "Lozinka:" />
                <h:inputSecret id="lozinka" required="true" p:placeholder="Lozinka" requiredMessage="Polje je obavezno!" value="#{registerMB.password}" />
                <h:message for="lozinka" />
            </h:panelGrid>
            
 
            <h:panelGrid id = "user" columns = "5" cellpadding = "10" cellspacing = "1">
                <h:selectOneRadio id="radio" required="true" requiredMessage="Obavezno izabrati korisnika!" value="#{registerMB.user}">
                    <f:selectItem itemLabel="Admin" itemValue="0"/>
                    <f:selectItem itemLabel="Direktor" itemValue="1"/>
                    <f:selectItem itemLabel="Učitelj" itemValue="2"/>
                    <f:selectItem itemLabel="Roditelj" itemValue="3"/>
                </h:selectOneRadio>
                <h:message for="radio" />
            </h:panelGrid>

                <div name="footerRegister">
                    <h:panelGrid>
                        <f:facet name="footer">
                            <h:commandButton id="registrujSe" value="Registruj" action="#{registerMB.register()}" />
                        </f:facet>
                    </h:panelGrid>
                </div>   
        </h:form>
        <br/>
        
        <h2>Registracija roditelja</h2>
        <hr/>
        <h:form>
            <h:panelGrid id = "registracijaId" columns = "3" cellpadding = "10" cellspacing = "1">
                <h:outputLabel value = "Ime:" />
                <h:inputText id="ime" required="true" p:placeholder="Ime" requiredMessage="Polje je obavezno!" value="#{registerMB.name}" />
                <h:message for="ime" />
                
                <h:outputLabel value = "Prezime:" />
                <h:inputText id="prezime" required="true" p:placeholder="Prezime" requiredMessage="Polje je obavezno!" value="#{registerMB.surname}" />                                                                                                                                
                <h:message for="prezime" />
                
                <h:outputLabel value = "Nalog:" />
                <h:inputText id="nalog" required="true" p:placeholder="Nalog" requiredMessage="Polje je obavezno!" value="#{registerMB.username}" />
                <h:message for="nalog" />
                
                <h:outputLabel value = "Lozinka:" />
                <h:inputSecret id="lozinka" required="true" p:placeholder="Lozinka" requiredMessage="Polje je obavezno!" value="#{registerMB.password}" />
                <h:message for="lozinka" />
            </h:panelGrid>
 
            <h:panelGrid id = "user" columns = "5" cellpadding = "10" cellspacing = "1">
                <h:selectOneRadio id="radio" required="true" requiredMessage="Obavezno izabrati korisnika!" value="#{registerMB.user}">
                    <f:selectItem itemLabel="Admin" itemValue="0"/>
                    <f:selectItem itemLabel="Direktor" itemValue="1"/>
                    <f:selectItem itemLabel="Učitelj" itemValue="2"/>
                    <f:selectItem itemLabel="Roditelj" itemValue="3"/>
                </h:selectOneRadio>
                <h:message for="radio" />
            </h:panelGrid>

                <div name="footerRegister">
                    <h:panelGrid>
                        <f:facet name="footer">
                            <h:commandButton id="registrujSe" value="Registruj" action="#{registerMB.register()}" />
                        </f:facet>
                    </h:panelGrid>
                </div>   
        </h:form>
        
        <h2>Registracija admina</h2>
        <hr/>
        <h:form>
            <h:panelGrid id = "registracijaId" columns = "3" cellpadding = "10" cellspacing = "1">
                <h:outputLabel value = "Ime:" />
                <h:inputText id="ime" required="true" p:placeholder="Ime" requiredMessage="Polje je obavezno!" value="#{registerMB.name}" />
                <h:message for="ime" />
                
                <h:outputLabel value = "Prezime:" />
                <h:inputText id="prezime" required="true" p:placeholder="Prezime" requiredMessage="Polje je obavezno!" value="#{registerMB.surname}" />                                                                                                                                
                <h:message for="prezime" />
                
                <h:outputLabel value = "Nalog:" />
                <h:inputText id="nalog" required="true" p:placeholder="Nalog" requiredMessage="Polje je obavezno!" value="#{registerMB.username}" />
                <h:message for="nalog" />
                
                <h:outputLabel value = "Lozinka:" />
                <h:inputSecret id="lozinka" required="true" p:placeholder="Lozinka" requiredMessage="Polje je obavezno!" value="#{registerMB.password}" />
                <h:message for="lozinka" />
            </h:panelGrid>
 
            <h:panelGrid id = "user" columns = "5" cellpadding = "10" cellspacing = "1">
                <h:selectOneRadio id="radio" required="true" requiredMessage="Obavezno izabrati korisnika!" value="#{registerMB.user}">
                    <f:selectItem itemLabel="Admin" itemValue="0"/>
                    <f:selectItem itemLabel="Direktor" itemValue="1"/>
                    <f:selectItem itemLabel="Učitelj" itemValue="2"/>
                    <f:selectItem itemLabel="Roditelj" itemValue="3"/>
                </h:selectOneRadio>
                <h:message for="radio" />
            </h:panelGrid>

                <div name="footerRegister">
                    <h:panelGrid>
                        <f:facet name="footer">
                            <h:commandButton id="registrujSe" value="Registruj" action="#{registerMB.register()}" />
                        </f:facet>
                    </h:panelGrid>
                </div>   
        </h:form> 
        <br/>
        
        <h2>Registracija direktora</h2>
        <hr/>
        <h:form>
            <h:panelGrid id = "registracijaId" columns = "3" cellpadding = "10" cellspacing = "1">
                <h:outputLabel value = "Ime:" />
                <h:inputText id="ime" required="true" p:placeholder="Ime" requiredMessage="Polje je obavezno!" value="#{registerMB.name}" />
                <h:message for="ime" />
                
                <h:outputLabel value = "Prezime:" />
                <h:inputText id="prezime" required="true" p:placeholder="Prezime" requiredMessage="Polje je obavezno!" value="#{registerMB.surname}" />                                                                                                                                
                <h:message for="prezime" />
                
                <h:outputLabel value = "Nalog:" />
                <h:inputText id="nalog" required="true" p:placeholder="Nalog" requiredMessage="Polje je obavezno!" value="#{registerMB.username}" />
                <h:message for="nalog" />
                
                <h:outputLabel value = "Lozinka:" />
                <h:inputSecret id="lozinka" required="true" p:placeholder="Lozinka" requiredMessage="Polje je obavezno!" value="#{registerMB.password}" />
                <h:message for="lozinka" />
            </h:panelGrid>
 
            <h:panelGrid id = "user" columns = "5" cellpadding = "10" cellspacing = "1">
                <h:selectOneRadio id="radio" required="true" requiredMessage="Obavezno izabrati korisnika!" value="#{registerMB.user}">
                    <f:selectItem itemLabel="Admin" itemValue="0"/>
                    <f:selectItem itemLabel="Direktor" itemValue="1"/>
                    <f:selectItem itemLabel="Učitelj" itemValue="2"/>
                    <f:selectItem itemLabel="Roditelj" itemValue="3"/>
                </h:selectOneRadio>
                <h:message for="radio" />
            </h:panelGrid>

                <div name="footerRegister">
                    <h:panelGrid>
                        <f:facet name="footer">
                            <h:commandButton id="registrujSe" value="Registruj" action="#{registerMB.register()}" />
                        </f:facet>
                    </h:panelGrid>
                </div>   
        </h:form>
    </h:body>
</html>

